# Node modules
node_modules/

# Build results
/dist
/build

# Test coverage
/coverage/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Husky internal files
.husky/_

# Swap files (vim, etc.)
*.swp
*.swo

# Mac OS specific
.AppleDouble
.LSOverride

# Windows specific
Desktop.ini

# Optional backup files
*~

# Environment files
.env
.env.local
.env.development
.env.production

# Caches
.cache
.vite/
.eslintcache
.babel.cache.json
.prettier-cache/
