body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  background-color: #1e1e1e;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  display: grid;
  grid-template-columns: repeat(4, 80px);
  position: relative;
}

.calculator .window-buttons {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  gap: 8px;
}

.calculator .window-buttons div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.calculator .window-buttons .red {
  background-color: #ff5f57;
}

.calculator .window-buttons .yellow {
  background-color: #ffbd2e;
}

.calculator .window-buttons .green {
  background-color: #28c840;
}

.display {
  grid-column: span 4;
  height: 80px;
  font-size: 60px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
}

button {
  height: 60px;
  font-size: 24px;
  border: 1px solid #1e1e1e;
  cursor: pointer;
  background-color: #808080;
  color: white;
  transition: 0.2s;
  border-radius: 0;
}

button:active {
  transform: scale(0.95);
}

button.function {
  background-color: #505050;
}

button.operator {
  background-color: #ff9500;
  color: white;
}

button.zero {
  grid-column: span 2;
}

button.zero {
  border-bottom-left-radius: 20px;
}

button:last-of-type {
  border-bottom-right-radius: 20px;
}
